.datos-2{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
.espacio{
    flex-grow: 1;
}

.datospersonales{
    transition: 1s;
}
.datospersonales:hover{
    scale:(1.2);
}
.botones{
    margin-left: 50px;
}
.imgchiquitas{
    display: grid;
    margin: 30px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "reloj   dolar   porcentaje   cuaderno";
    .card1{
        grid-area: reloj;
        text-align: center;
    }
    .card2{
        grid-area: dolar;
        text-align: center;
    }
    .card3{
        grid-area: porcentaje;
        text-align: center;
    }
    .card4{
        grid-area: cuaderno;
        text-align: center;
    }
}
.card1 img{
    height: 150px;
    width: auto;
}
.card2 img{
    height: 150px;
    width: auto;
}
.card3 img{
    height:150px;
    width: auto;
}
.card4 img{
    height:150px;
    width: auto;
}
.card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.consultatitulo{
    text-align: center;
}