
.logo1{
   border-radius: 50%;
   width: 200px;
   height: 200px;
}
.container-fluid{
      background-color: rgba(11, 84, 9, 0.567);
      border-radius: 3%;
}
.nav-item:hover{
   background-color: rgba(6, 59, 4, 0.567);
   border-radius: 20%;
}
header{
   width: 100%;
}
.logo1:hover{
   transition: 1.5s;
   scale: 90%;
}