
.quienessomos{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    transition: 1s;
}
.quienessomos:hover{
    color: rgb(153, 11, 11);
    transform: scale(1.1);
    rotate: (10deg);

}

.nosotrosflex{
    display: flex;
    justify-content: center;
    align-items: center;
    .nosotroslogo img{
        height: auto;
        width: 300px;
        margin-left: 100px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.nosotroslogo{
    transition: 1s;
}

.nosotroslogo:hover{
        transform: scale(1.3);
}

.nosotrostexto{
    background-color: rgb(144, 234, 144);
    margin-right: 25px;
    margin-left: 25px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    .resaltar{
        text-decoration: underline;
        color: rgb(123, 16, 16);
    }
}
