
/* css general */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
body{
    background-color: steelblue
}
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600;700&display=swap');


/* css index */

.logo1,
.logo2 {
    width: 200px;
    height: 200px;
}

.logo4{
    height: 500px;
}

.gris,
.mano {
    width: 430px;
    height: 400px;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    margin-top: 20px;
}
h1:hover {
    color: red;
   
}

.subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}

.menu li{
    display: inline;
    margin: 55px;
    font-family:'Martian Mono', monospace;
    font-size: 20px;
    
}
.menu-link.active{
    text-decoration: underline;
}


.caja1{
    font-size: xx-large;
    margin-top: 60px;
    line-height: 50px;
    }
.medio{
    justify-content: center;
    justify-content: space-around;
}
.redes li{
    list-style-type: none;
    display: inline
}
.redess li{
    text-align: center;
    margin-left: 50px;
   
}
.redess{
    text-align: center;
    
}
.facebook,
.instagram,
.whatsapp {
    width: 50px;
    height: 50px;
}

.caja2{
    margin: 50px;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #000;
    padding: 2%;
}
.medio{
    display: flex;
    gap: 2rem;
    margin-top: 35px;
}

input:focus {
    background-color: pink;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
}
#fajosmilpesos{
    position: relative;
    margin-left: 600px; 

}
.fajosmilpesos img{
    position: absolute;
    top: 350px; 
    left: 400px;
    border-radius: 20px;
}
#mapa {
    position: relative;
    width: 100px; 
    height: 600px; 
    margin-left: 600px; 
}

iframe {
    position: absolute;
    top: 350px; 
    left: 600px;
    border-radius: 20px;
}
 
.datos2{
    margin-top: 15px;
}
.archivo{
    margin-top: 20px;
}
.consulta{
    margin-top: 20px;
    margin-bottom: 20px;
}
.consultas{
    text-align: center;
    margin-left: 10px;
}

.somos{
    text-align: justify;
    display: flex;
    margin: 60px;
    gap: 20rem;
    font-size: 30px;
}



h2{
    margin-left: 10px;
}
h2:hover {
    color: rgb(212, 247, 14);
}
h3{
    font-weight: bold;
    margin-top: 20px;
}
h3:hover {
    color: rgb(5, 243, 13);
}

.mensaje{
   
    position: fixed;
    margin: 100%;
    padding-left: 1400px;
   
    
}
.nosotrosgrid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo logo    nosotros      contacto"
    "logo logo    preguntas     prestamo";
}
.logonos,
.logotexto,
.logotelefono,
.logopesos,
.logopregunta{
    height: 50px;
    border-radius: 50px;
}
.nosotroslogo{
    background-color: red;
    grid-area: logo;
    text-align: center;
    border-radius: none
;

}
.nosotroscontacto{
    background-color:blue;
    grid-area: contacto;
    border-radius: 80px;
   

}
.nosotrosnosotros{
    background-color: rgb(35, 226, 21);
    grid-area: nosotros;
    border-radius: 80px;
   

}
.nosotrospreguntasfrecuentes{
    background-color: rgb(34, 240, 223);
    grid-area: preguntas;
    border-radius: 80px;

}
.nosotrosprestamoss{
    background-color: rgb(231, 16, 163);
    grid-area: prestamo;
    border-radius: 80px;
}
.hijo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.nosotroslogo{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

footer{
    color: white;
    padding: 20px;
    margin-top: 25px;
    text-align: justify;
    background-color: rgb(63, 63, 63);
    align-items: center;
    font-size: 12px
}

/*.nosotrosgrid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo logo    nosotros      contacto"
    "logo logo    preguntas     prestamo";
}*/

@media (max-width: 700px) {
    .nosotrosgrid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "logo       logo"
        "nosotros   contacto"
        "preguntas  prestamo";
    }
}
@media (max-width: 700px){
    .hijo{
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    .nosotrosgrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo"
        "nosotros"
        "contacto"
        "preguntas"
        "prestamo";
    }
}
@media (max-width: 400px){
    .logonos,
    .logotexto,
    .logotelefono,
    .logopesos,
    .logopregunta{
    height: 30px;
    border-radius: 50px;
    }
}



/* comentario */
/* 16px de tamaño en font size, es por defecto */
/* font weight. bold es negrita */
/* fondo en body. color */
/* deja fija la imagen. no se mueve cuando bajo background-attachment: fixed */
/* saca todos los margenes. espaceados todo * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/